<div class="bg-light text-center">
    <h3>
      <i class="icon-github"></i>
      <b>ANGULAR GITHUB USER SEARCH APPLICATION</b>
    </h3>
  </div>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
      <a class="navbar-brand" href="#"> </a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarResponsive"
        aria-controls="navbarResponsive"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link"  routerLinkActive='active' routerLink="user-profile">
                Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item nav-link active" routerLink="/about" routerLinkActive='active'>About
            </li>
        </ul>
      </div>
    </div>
  </nav>
<div class="jumbotron">
  <h1 class="display-4 text-center"><strong>About gitsearch App</strong></h1>
  <hr class="my-4">
  <p class="lead text-center">This is an application where a user may enter a GitHub username into a form, submit it,
    see names and descriptions of that person's public repositories. The user can also look for repositories.</p>
  <p>It contains a well-designed landing page that displays GitHub user's GitHub information such as your username, your
    profile photo and a list of your repositories. </p>
</div>
